<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <p>ONLY FOR USE BY INFORMATION TECHNOLOGY DEPT. UNAUTHORIZED ACCESS TO THIS SYSTEM IS PROHIBITED</p>
    <p>You must have explicit, authorized permission to access or configure this device. Unauthorized attempts and
        actions to access or use this system may result in civil and/or criminal penalties. All activities performed on
        this device are logged and monitored. </p>
    <h1>IT Dashboard Login</h1>
    <form method="post">
        Username: <input type="text" name="username" pattern="[A-Za-z0-9]*"><br>
        Password: <input type="password" name="password" pattern="[A-Za-z0-9!@#$%^&*()-_=+]*"><br>
        <input type="submit" value="Login">
    </form>
    <p>{{ msg }}</p>
</body>

</html>